@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: 100px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: white;
    padding: 10px 10%;
    background-color: #111;
    justify-content: space-between;
    justify-items: center;
}

.logo {
    padding: 20x;
    width: 50px;
    height: 50px;
}

.nav-link {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.nav-link a:hover {
    color: #2dc0fe;
    transition: 0.5s;
}




.container {
    display: center;
}

.jumbotron {
    text-align: left;
    padding: 10% 10% 2% 10%;
    display: flex;
}

.jumbotron h1 {
    font-size: 3rem;
}

.jumbotron p {
    margin-top: -10px;
    font-size: 1.5rem;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.jumbotron-botton {
    display: flex;
}

.jumbotron button {
    font-size: 20px;
    background-color: #0360d2;
    color: white;
    border-radius: 10px;
    padding: 15px;
    border: none;
    box-shadow: 10px 10px 142px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 142px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 142px -10px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    animation: ease-in-out;
    border-bottom: #002758 5px solid;
}

.jumbotron button:hover {
    background-color: #2288e1;
    animation: ease-in-out;
    transition: 0.4s;
    cursor: pointer;
}

.buku-terpopuler {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10%;
    color: white;
    justify-content: center;
    justify-items: center;
    -webkit-box-shadow: 0px 8px 35px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 8px 35px -14px rgba(66, 68, 90, 1);
    box-shadow: 0px 8px 35px -14px rgba(66, 68, 90, 1);
    height: 100vh;
}

.container-buku-terpopuler {
    width: 380px;
    height: 380px;
    display: flex;
    margin-left: 22%;
    border-radius: 12px;
    justify-content: center;
    justify-items: center;
}

.card-buku-terpopuler {
    margin: 10% 0;
    border-radius: 12px;
    box-shadow: -1px 10px 58px -16px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -1px 10px 58px -16px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -1px 10px 58px -16px rgba(0, 0, 0, 0.42);
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
    left: 0;
}

.card-buku-terpopuler:not(:first-child) {
    margin-left: -50px;
}

.card-buku-terpopuler:hover {
    transform: translateY(-20px);
    margin-right: 30px;
}

.card-buku-terpopuler:hover .card-buku-terpopuler {
    left: 50px;
}

.card-buku-terpopuler img {
    border-radius: 12px;
}


.about-us {
    padding: 5% 10%;
    background-color: rgb(19, 19, 19);
    color: white;
    margin: 10% 10% 0% 10%;
    border-radius: 12px;
    box-shadow: 10px 10px 86px -28px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 10px 10px 86px -28px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 10px 10px 86px -28px rgba(0, 0, 0, 0.54);
}

.about-us p {
    text-align: justify;
}


.buku {
    padding: 8% 10% 0% 10%;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}


.title a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
}

.title h2 {
    font-size: 30px;
}

.filter-genre {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
}

input[type="radio"] {
    display: none;
}

label {
    padding: 12px 20px;
    background-color: #e0e0e0;
    border-radius: 70px;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label:hover {
    background-color: #ccc;
}

input[type="radio"]:checked+label {
    background-color: #111;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.3s ease;
}

.card img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.card h4 {
    margin: 0;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #303030;
}

.card p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}



.footer {
    margin-top: 100px;
    background: #111;
    color: #ccc;
    padding: 50px 20px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    color: #aaa;
    line-height: 1.5;
}

.footer-links h4,
.footer-contact h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 6px;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #fff;
}

.footer-contact p {
    font-size: 14px;
    margin-bottom: 6px;
}

.footer-bottom {
    text-align: center;
}
